{% trans_default_domain 'FOSUserBundle' %}

{% extends 'AgriwinSiteBundle::layout.html.twig' %}

{% block title %}Avantages{% endblock %}

{% block section %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

<div class="avantages">
    <div class="container mt-4 mb-5 first">
        <h2 class="border-bottom pb-1" style="color:#c77911;border-bottom-color:#c77911 !important;">LES AVANTAGES</h2>
        <h4 class="text-dark mt-4 intro pl-1">Le télégonflage AGRIWIN® vous fait gagner 2500 € minimum par an !</h4>
        <div class="mt-5 text-center">
            <img src="{{ asset('images/contenu/avantages_eco.png') }}" alt="" width="800" />
        </div>
    </div>
    <div class="grey pt-4 pb-5">
        <div class="container second">
            <div class="list">
                <img src="{{ asset('images/contenu/avantages_pic_1.png') }}" width="70" height="70" alt="" />
                <p>Alarme patinage (grâce à une combinaison GPS intégré au boîtier + capteur compte-tour)</p>
            </div>
            <div class="list">
                <img src="{{ asset('images/contenu/avantages_pic_2.png') }}" width="70" height="70" alt="" />
                <p>Alarme si la combinaison pression/vitesse n’est pas correcte.</p>
            </div>
            <div class="list">
                <img src="{{ asset('images/contenu/avantages_pic_3.png') }}" width="70" height="70" alt="" />
                <p>Grâce à la prise USB, on peut :</p>
            </div>
            <div class="list">
                <img src="{{ asset('images/contenu/avantages_pic_4.png') }}" width="70" height="70" alt="" />
                <p>Récupérer les données de localisation</p>
            </div>
            <div class="list">
                <img src="{{ asset('images/contenu/avantages_pic_5.png') }}" width="70" height="70" alt="" />
                <p>Récupérer l’historique des alarmes</p>
            </div>
        </div>
    </div>
    <div class="container mt-4 mb-5">
        <h2 class="border-bottom pb-1" style="color:#c77911;border-bottom-color:#c77911 !important;">INTERETS ECONOMIQUES</h2>
        <h4 class="text-dark mt-4 intro pl-1">La durée de vie des pneumatiques</h4>
        <ul class="mt-4">
            <li>Dans les champs, l’usure est légèrement diminuée car les pneus souples s’adaptent mieux au terrain et sont moins sensibles aux obstacles durs.</li>
            <li>Sur route, l’usure est fortement diminuée à pression adaptée. La durée de vie d’un pneu peut augmenter de 15 à 30 %.</li>
        </ul>
        <h4 class="text-dark mt-4 intro pl-1">Le gain de temps</h4>
        <ul class="mt-4">
            <li>Dans les champs, par forte traction (travail du sol,
épandage), le taux de patinage peut atteindre 15 à 20%. Une
pression adaptée réduit le patinage à 5 à 10 %. De ce fait, le
temps de travail sera réduit d’autant.</li>
            <li>En adaptant la pression des pneus, les fenêtres
d’intervention sont élargies par la possibilité de travailler sur
des sols encore humides, sans les inconvénients connus. De
même, un travail commencé peut être terminé même si les
conditions météo se dégradent.</li>
        </ul>
        <h4 class="text-dark mt-4 intro pl-1">La possibilité d’utiliser un tracteur moins puissant</h4>
        <ul class="mt-4">
            <li>A pression adaptée, la résistance au roulement du train
roulant diminue sensiblement et la puissance de traction
nécessaire diminue d’autant.</li>
            <li>De ce fait, un tracteur moins puissant et aussi moins lesté
peut être utilisé avec une consommation encore diminuée.</li>
        </ul>
    </div>
    <div class="grey pt-4 pb-5">
        <div class="container four">
            <h2 class="border-bottom pb-1" style="color:#c77911;border-bottom-color:#c77911 !important;">AMELIORATION DU RENDEMENT AGRONOMIQUE</h2>
            <h4 class="text-dark mt-4 intro pl-1 mb-4">Tassement diminué</h4>
            <div class="d-flex">
                <img src="{{ asset('images/contenu/avantages_agro_1.png') }}" width="400" height="300" alt="" />
                <p class="col-sm-6 ml-5">La porosité du sol est préservée.
L’absorption d’eau, l’aération et
la présence des lombrics sont
maintenues.<br />
<strong>Les rendements agronomiques
sont améliorés dès les premières
années.</strong></p>
            </div>
            <h4 class="text-dark mt-5 intro pl-1 mb-4">Cisaillement diminué</h4>
            <div class="d-flex">
                <img src="{{ asset('images/contenu/avantages_agro_2.png') }}" width="400" height="300" alt="" />
                <p class="col-sm-6 ml-5">Le cisaillement de la couche
d’humus ou de la couche
racinaire diminue avec la
réduction du patinage.
</p>
            </div>
        </div>
    </div>
    <div class="container mt-4 mb-5">
        <h2 class="border-bottom pb-1" style="color:#c77911;border-bottom-color:#c77911 !important;">CONFORT ET SECURITE</h2>
        <ul class="mt-4">
            <li class="mb-4"><strong>Dans le champs, à pression réduite, les chocs sont plus amortis :
cela protège l’homme et la machine.</strong><br/>
La fatigue du conducteur est diminuée, ainsi que les tensions
répercutées sur l’organisme. De la même façon, la mécanique de
la machine est mieux préservée.</li>
            <li class="mb-4"><strong>Sur route, à pression élevée, la stabilité de la trajectoire
améliore la sécurité :</strong><br/> les pneus gonflés à pression élevée
assurent une tenue de trajectoire précise et un meilleur
comportement au freinage.</li>
            <li class="mb-5"><strong>Sur route comme dans les champs,</strong><br/> l’impression de sécurité et de
confort par la maîtrise des pressions de gonflage est ressentie
immédiatement.
</li>
        </ul>
        <div class="text-center">
            <img src="{{ asset('images/contenu/img_detail_agriwin.png') }}" class="mt-4" width="950" height="700" alt="" />
        </div>
    </div>
</div>

{% else %}

<span class="text-alert">Veuillez vous connecter pour voir les avantages Agriwin.</span>

{% endif %}

{% endblock section %}