{% trans_default_domain 'FOSUserBundle' %}

{% extends 'AgriwinSiteBundle::layout.html.twig' %}

{% block title %}Tarifs{% endblock %}

{% block section %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

<div class="tarifs">
    <div class="container mt-4 mb-5">
        <h2 class="border-bottom pb-1" style="color:#c77911;border-bottom-color:#c77911 !important;">NOS OFFRES AGRIWIN</h2>
        <h4 class="text-dark mt-4 intro pl-1">Pour tracteur</h4>
        <div class="col-sm-12 d-flex justify-content-between mt-5 pb-5">
            <div class="col-sm-5 border border-secondary rounded p-0">
                <h4 class="text-center col-sm-5 m-auto pt-4">Avec Boitier</h4>
                <div class="text-center mt-4">
                    <img src="{{ asset('images/tarifs/tracteur2.png') }}" width="260" height="200" alt="Boîtier électronique" />
                </div>
                <div class="mt-4 pt-3 pl-3 text-light" style="background-color:#828282;color:#fff;min-height:230px;">
                    <span>Contenu de l'offre :</span>
                    <ul class="pt-2 pb-3">
                        <li>équipement pour 4 roues</li>
                        <li>boîtier électronique</li>
                        <li>montage du dispositif sur votre machine</li>
                    </ul>
                    <div class="text-center">
                        <span style="font-size:1.5em;">Tarif : 6400€ HT</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 border border-secondary rounded p-0">
                <h4 class="text-center col-sm-6 m-auto pt-4">Avec ISOBUS</h4>
                <div class="text-center mt-4">
                    <img src="{{ asset('images/tarifs/isobus.jpg') }}" width="260" height="200" alt="Isobus" />
                </div>
                <div class="mt-4 pt-3 pl-3 text-light" style="background-color:#828282;color:#fff;min-height:230px;">
                    <span>Contenu de l'offre :</span>
                    <ul class="pt-2 pb-3">
                        <li>équipement pour 4 roues</li>
                        <li>liaison ISOBUS</li>
                    </ul>
                    <div class="text-center">
                        <span style="font-size:1.5em;">Tarif : 6800€ HT</span>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="text-dark mt-4 intro pl-1">Présentation du kit</h4>
        <div class="text-center mt-4">
            <img src="{{ asset('images/tarifs/pack_kit_img.png') }}" alt="Images kit télégonflage" />
        </div>
        <div class="text-center mt-3 pb-5">
            <img src="{{ asset('images/tarifs/pack_kit_legende.png') }}" alt="Légende kit télégonflage" />
        </div>
        <h4 class="text-dark mt-4 intro pl-1">Images d'engins équipés</h4>
        <div class="row d-flex mt-4">
            <div class="col-sm-4">
                <img src="{{ asset('images/contenu/Télégonflage Claas.jpg') }}" width="320" height="230" alt="Télégonflage Claas" />
            </div>
            <div class="col-sm-4">
                <img src="{{ asset('images/contenu/Télégonflage Deutz.jpg') }}" width="320" height="230" alt="Télégonflage Deutz" />
            </div>
            <div class="col-sm-4">
                <img src="{{ asset('images/contenu/Télégonflage Fendt.jpg') }}" width="320" height="230" alt="Télégonflage Fendt" />
            </div>
        </div>
        <div class="row d-flex mt-5">
            <div class="col-sm-4">
                <img src="{{ asset('images/contenu/CUMA SASSY AGWN.jpg') }}" width="320" height="230" alt="CUMA SASSY AGRIWIN" />
            </div>
            <div class="col-sm-4">
                <img src="{{ asset('images/contenu/EDT ROBILLARD agriwin.jpg') }}" width="320" height="230" alt="EDT ROBILLARD AGRIWIN" />
            </div>
            <div class="col-sm-4">
                <img src="{{ asset('images/contenu/MAUGUIN AGRIWIN.jpg') }}" width="320" height="230" alt="MAUGUIN AGRIWIN" />
            </div>
        </div>
        <div class="row d-flex mt-5">
            <div class="col-sm-4">
                <img src="{{ asset('images/contenu/P1080354.jpg') }}" width="320" height="230" alt="Télégonflage" />
            </div>
            <div class="col-sm-4">
                <img src="{{ asset('images/contenu/Télégonflage John Deere.jpg') }}" width="320" height="230" alt="Télégonflage John Deere" />
            </div>
            <div class="col-sm-4">
                <img src="{{ asset('images/contenu/TRACTEUR JD.jpg') }}" width="320" height="230" alt="TRACTEUR JD" />
            </div>
        </div>
    </div>
</div>

{% else %}

<div class="container mt-4">
    <span class="alert alert-danger">Veuillez vous connecter pour voir les tarifs Agriwin <a href="{{ path('fos_user_security_login') }}" class="alert-link">en cliquant ici</a>.</span>
</div>

{% endif %}

{% endblock section %}