{% trans_default_domain 'FOSUserBundle' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Agriwin - {% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="{{ asset('assets/twbs/bootstrap/dist/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/style.css') }}" />
        <link rel="stylesheet" media="screen and (max-width: 992px)" href="{{ asset('assets/style_min.css') }}" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery.js"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}" />
    </head>

    <body>
        <header>
            <div class="container d-flex justify-content-between">
                <div>
                    <a href="{{ path('agriwin_site_homepage') }}">
                        <img src="{{ asset('images/header/logo.png') }}" alt="Logo" class="logo" />
                    </a>
                </div>
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-between">
                        <div class="lang">
                            {% block flags %}
                            <a href="{{ path(app.request.get('_route'), {'_locale': 'en'}) }}" style="text-decoration:none;"/>
                                <img src="{{ asset('images/header/en.png') }}" alt="flag_en" />
                            </a>&nbsp;    
                            <a class="mr-5" href="{{ path(app.request.get('_route'), {'_locale': 'fr'}) }}" style="text-decoration:none;">
                                <img src="{{ asset('images/header/fr.png') }}" alt="flag_fr" />
                            </a> 
                            {% endblock flags %}
                        </div>
                        <div>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <div>
                                <a href="{{ path('fos_user_security_logout') }}" style="color:#c77911;">{{ 'layout.logout'|trans }}</a>
                            </div>
                            {% else %}
                            <div>
                                <a href="{{ path('fos_user_security_login') }}" style="color:#c77911;">{{ 'layout.login'|trans }}</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <div class="mt-3">
                       <span>{{ 'layout.logged_in_as'|trans }} <span class="font-weight-bold">{{ app.user.firstname }}</span></span>
                    </div>
                    {% endif %}
                </div>
            </div>
        </header>
        <nav class="navbar navbar-expand-lg navbar-dark mt-1" style="background:linear-gradient(#646464,#323232);">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        {% block itempresentation %}
                        <li class="nav-item">
                        {% endblock itempresentation %}
                            <a class="nav-link border-left border-right border-secondary pl-4 pr-4" href="{{ path('agriwin_site_homepage') }}">{{ 'layout.nav.presentation'|trans }}</a>
                        </li>
                        {% block itemavantages %}
                        <li class="nav-item dropdown">
                        {% endblock itemavantages %}
                            <a class="nav-link dropdown-toggle border-right border-secondary pr-4 pl-4" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ 'layout.nav.why'|trans }} </a>
                            <div class="dropdown-menu ml-3 bg-secondary p-0 mt-2 rounded-4" style="width:85%;background:linear-gradient(#646464,#323232);" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-light bg-secondary p-3" style="background:linear-gradient(#646464,#323232);" href="{{ path('agriwin_site_avantages') }}">> {{ 'layout.nav.advantages'|trans }}</a>
                                <a class="dropdown-item text-light bg-secondary p-3" style="background:linear-gradient(#646464,#323232);" href="{{ path('agriwin_site_tarifs') }}">> {{ 'layout.nav.price'|trans }}</a>
                            </div>
                        </li>
                        {% block itemavis %}
                        <li class="nav-item">
                        {% endblock itemavis %}
                            <a class="nav-link border-right border-secondary pr-4 pl-4" href="{{ path('agriwin_site_avis') }}">{{ 'layout.nav.customers'|trans }}</a>
                        </li>
                        {% block itemcontact %}
                        <li class="nav-item">
                        {% endblock itemcontact %}
                            <a class="nav-link last border-right border-secondary pl-4 pr-4" href="{{ path('agriwin_site_contact') }}">{{ 'layout.nav.contact'|trans }}</a>
                        </li>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% block itemcompte %}
                        <li class="nav-item">
                        {% endblock itemcompte %}
                            <a class="nav-link last account border-right border-secondary pl-4 pr-4" href="{{ path('fos_user_profile_show') }}">{{ 'layout.nav.account'|trans }}</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% for key, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ key }}">
                    <div class="container">
                        {{ message|trans({}, 'FOSUserBundle') }}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
        {% block fos_user_content %}
        {% endblock fos_user_content %} 
        {% block section %}
        {% endblock section %} 
        <footer class="border-top mt-5" style="background:linear-gradient(#787878,#323232);border-top-color:#c77911 !important;">
            <div class="container d-flex justify-content-between pt-5 pb-5 bloc-footer">
                <div class="text-light txt-footer">
                    <div>© 2019 - <a href="http://www.sodijantes.com" class="text-light" target="_blank">Sodijantes Industrie</a></div>
                    <div class="mt-2 text-white-50 col-sm-12 pl-0" style="line-height:28px;">
                        <a href="#" class="text-white-50">{{ 'layout.footer.politique'|trans }} </a> &nbsp;|&nbsp;
                        <a href="#" class="text-white-50"> {{ 'layout.footer.mentions'|trans }}</a> &nbsp;|&nbsp;
                        <a href="#" class="text-white-50">{{ 'layout.nav.contact'|trans }}</a>
                    </div>
                    <div class="mt-5 text-white-50">
                        <span>+33 (0)2 31 40 80 50 </span> &nbsp;/&nbsp;
                        <span>telegonflage@sodijantes.com</span>
                    </div>
                </div>
                <div class="logo">
                    <a href="http://www.sodijantes.com" target="_blank"><img src="{{ asset('images/footer/logo_sodijantes.png') }}" alt="Logo de Sodijantes" /></a>
                </div>
            </div>
        </footer>
        <script src="{{ asset('assets/twbs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/twbs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    </body>
</html>