{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
    <h2 class="border-bottom pb-1 mt-4" style="color:#c77911;border-bottom-color:#c77911 !important;">Redéfinition de mot de passe</h2>
    <div class="form-group">
        {% if form_errors(form.plainPassword.first) %}
        <div class="alert alert-danger pb-0">{{ form_errors(form.plainPassword.first) }}</div>
        {% endif %}
        {{ form_label(form.plainPassword.first, "Nouveau mot de passe") }}
        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.plainPassword.second, "Retapez à nouveau") }}
        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
    </div>
    {% if form_errors(form.captchaCode) %}
    <div class="alert alert-danger pb-0">{{ form_errors(form.captchaCode) }}</div>
    {% endif %}
    <div class="form-group col-md-4 captcha changepass">
        {{ form_label(form.captchaCode, "Réécrivez les caractères ci-dessous : *") }}
        {{ form_widget(form.captchaCode, {'attr': {'class': 'form-control mt-2'}}) }}
    </div>
    <div>
        <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
{{ form_end(form) }}
</div>
