{% trans_default_domain 'FOSUserBundle' %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<script>document.location.href="{{ path('agriwin_site_homepage') }}"</script>
{% endif %}

<div class="container mt-4 register">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}   
    <h2 class="border-bottom pb-1" style="color:#c77911;border-bottom-color:#c77911 !important;">FORMULAIRE D'INSCRIPTION</h2>
    {{ form_widget(form.username, {'type': 'hidden'}) }}
    <div class="form-row mt-4">
        <div class="form-group col-md-6">
            {{ form_label(form.name, "Nom *") }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div> 
        <div class="form-group col-md-6">
            {{ form_label(form.firstname, "Prénom *") }}
            {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form_label(form.pays, "Pays *") }}
            {{ form_widget(form.pays, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group col-md-6">
            {{ form_label(form.ville, "Ville *") }}
            {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div> 
    <div class="form-row">
        <div class="form-group col-md-3">
            {{ form_label(form.postal, "Code postal") }}
            {{ form_widget(form.postal, {'attr': {'class': 'form-control'}}) }}
        </div>          
        <div class="form-group col-md-9">
            {{ form_label(form.adresse, "Adresse") }}
            {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div> 
     {% if form_errors(form.email) %}
    <div class="alert alert-danger pb-0">{{ form_errors(form.email) }}</div>
    {% endif %}
    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form_label(form.email, "Adresse e-mail *") }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group col-md-6">
            {{ form_label(form.mobile, "Mobile") }}
            {{ form_widget(form.mobile, {'attr': {'class': 'form-control', 'placeholder': 'Ex: 06 01 02 03 04'}}) }}
        </div>
    </div>  
    {% if form_errors(form.plainPassword.first) %}
    <div class="alert alert-danger pb-0">{{ form_errors(form.plainPassword.first) }}</div>
    {% endif %} 
    <div class="form-row">
        <div class="form-group col-md-6"> 
            {{ form_label(form.plainPassword.first, "Mot de passe *") }}
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group col-md-6">
            {{ form_label(form.plainPassword.second, "Retapez-le à nouveau *") }}
            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="conditions" required="required"  /> 
        <label class="custom-control-label" for="conditions">J'accepte les conditions d'utilisation *</label>
    </div>
    <div class="form-group col-md-4 captcha">
        {{ form_label(form.captchaCode, "Réécrivez les caractères ci-dessous : *") }}
        {{ form_widget(form.captchaCode, {'attr': {'class': 'form-control mt-2'}}) }}
    </div>
    <div class="form-group">
        <span class="text-muted">* champs obligatoires</span>
    </div>
    <div class="form-group">
        <span class="text-danger">Attention, pour vous connecter, vous devrez activer votre compte en cliquant sur le lien qui vous sera envoyé par mail.</span>
    </div>
    <div class="d-flex">
        <input type="submit" class="btn btn-dark" value="Créer mon compte" />
        <a class="align-self-end ml-3" style="color:#c77911;" href=" {{ path('fos_user_security_login') }} "><< Retour</a>
    </div>
{{ form_end(form) }}
</div>